:root {
    --scroll-bar-width: 10px;

    --accent: #e7233a;
    --secondary: #eceaea;
    --primary: #f17e8c;
    --background: #01051e;
    --background-shade: #0e1129;
    --text: #faf6ef;
}

body {
    background-color: var(--background);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    width: var(--scroll-bar-width);
}
