:root.dark {
    --accent: #e7233a;
    --secondary: #eceaea;
    --primary: #f17e8c;
    --background: #01051e;
    --background-shade: #0e1129;
    --text: #faf6ef;
}

:root {
    --scroll-bar-width: 10px;

    --accent: #e7233a;
    --secondary: #e7e4e4;
    --primary: #f17e8c;
    --background: #fafafa;
    --background-shade: #f1f1f1;
    --text: #050505;
}

body {
    background-color: var(--background);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.5s;
}

h1,
h2,
h3,
h4,
p {
    transition:
        color 0.5s,
        background-color 0.5s;
}

/*  
    First set the svg to black
    Then use https://isotropic.co/tool/hex-color-to-css-filter/
    to find how to convert
*/
.svgicon.dark {
    filter: brightness(0%) invert(95%) sepia(11%) saturate(308%) hue-rotate(320deg) brightness(104%)
        contrast(96%);
}

.svgicon.light {
    filter: brightness(0%) invert(0%) sepia(19%) saturate(213%) hue-rotate(336deg) brightness(91%)
        contrast(96%);
}

.svgicon {
    transition: filter 0.5s;
}

* {
    scrollbar-width: var(--scroll-bar-width);
    scrollbar-color: var(--accent) var(--background);
}

*::-webkit-scrollbar {
    width: var(--scroll-bar-width);
}

*::-webkit-scrollbar-track {
    background: var(--background);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 10px;
    border: 3px solid var(--background);
}
